<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sparkplug Ventures | Sparkplug empowers promising business opportunities
    meta(name='description', content='Business development to empower ambitious start ups and promising ventures by sharing knowledge, networks and financial expertise. As a consultant Sparkplug advises and coaches entrepreneurs to maximize growth and monetize opportunities.')
    meta(property='og:title', content='Sparkplug Ventures | Ignite your business')
    meta(property='og:description', content='Business development to empower ambitious start ups and promising ventures by sharing knowledge, networks and financial expertise. As a consultant Sparkplug advises and coaches entrepreneurs to maximize growth and monetize opportunities.')
    meta(property='og:image:width', content='226')
    meta(property='og:image:height', content='226')
    meta(property='og:url', content='https://www.sparkplugventures.nl/')
    meta(property='og:image', content='https://www.sparkplugventures.nl/images/icons/og-image.jpg')
    link(rel="stylesheet", href="scss/index.css")
    script(src="scripts/index.js")
    script(src="scripts/slimScroller.js")
    link(rel='apple-touch-icon', sizes='180x180', href='images/icons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='images/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='images/icons/favicon-16x16.png')
    link(rel='manifest', href='images/icons/site.webmanifest')
    link(rel='mask-icon', href='images/icons/safari-pinned-tab.svg', color='#3ddaa0')
    link(rel='shortcut icon', href='images/icons/favicon.ico')
    meta(name='msapplication-TileColor', content='#191919')
    meta(name='msapplication-config', content='images/icons/browserconfig.xml')
    meta(name='theme-color', content='#191919')
  body.site
    header.header
      .part
        a(href="#introduction" onClick="scrollToHash(event)")
          img(src="images/logo.svg", alt="Sparkplug Ventures-logo")
      nav.part
        ul
          li
            a(href="#expertise" onClick="scrollToHash(event)") Expertise
          li
            a(href="#screening" onClick="scrollToHash(event)") Screening
          li
            a(href="#ventures" onClick="scrollToHash(event)") Ventures
          li
            a(href="#team" onClick="scrollToHash(event)") Team
          li
            a(href="#news" onClick="scrollToHash(event)") News
          li
            a(href="#contact" onClick="scrollToHash(event)") Contact
    main.main
      section.section#introduction
        h1
          | Ignite 
          span.font-green your 
          | business
        p.font-large
          | Every fire starts with one spark. Along with oxygen and fuel.
          | The same goes for business venture:  All you need is a spark to ignite promising entrepreneurship.
          | Along with ambition, inspiration, know-how and a solid base.
      section.section#story
        h2
          | The 
          span.font-green story
        p
          | How to spark growth of fresh, ambitious and innovative companies in an effective way.
          | Sparkplug Ventures answers this question by sharing knowledge, networks and financial expertise.
          | In return for a minority share we add value from any point of view directed to a successful future.
        p
          | Our long-term consulting and coaching empowers young entrepreneurs to affect world-wide challenges and maximizes
          | their growth opportunities. 
      section.section#expertise
        img(src="images/expertises.svg", alt="")
      section.section#screening
        h2 Screening
        .row
          .block
            h3.font-green Criteria
            p
              | For sparkplug a personal click or spark with the team of entrepreneurs is essential.
              | On top of that,  their vision, passion and dedication will have to match our business philosophy
              | and our added value as a sparring partner should be considerable.  
            p
              | To spark the right business ventures, we screen solutions for sector-wide global challenges:
              br
              | The venture has covered its proof-of-concept principle and its product reaches development completion or explores market introduction.
              | The business model is scalable and repeatable with a value proposition that has competitive advantage.
          .block
            h3.font-green Process
            p
              | Sparkplug is seeking for long-lasting partnerships with great new ventures.
              | Therefore we have set up a thorough screening protocol in which we screen and select ventures within an intended period of 8 weeks.
            p
              | The main part of the screening process are the diverse meetings with the Sparkplug team.
              | Key information such as a one-pager and/or a pitch deck and a detailed business plan will play an important role. 
      section.section#ventures
        .row
          .block.startup(style="background-image: url('images/startups/skotty_background.png')")
            .logo
              img(src="images/startups/skotty.svg", alt="Skotty-logo")
            .body
              h3 Skotty
              p
                | This web based platform enables end-to-end encrypted file sharing.
                | A powerful new tool that meets the highest standards in security, speed and usability.
                | Target markets are financial, legal and healthcare.
            .footer
              a(href="https://skotty.io/").link-button Visit Skotty
          .block.startup(style="background-image: url('images/startups/nibblr_background.png')")
            .logo
              img(src="images/startups/nibblr.png", alt="Nibblr-logo")
            .body
              h3 Nibblr
              p
                | A C2C platform that brings people together for a social dining experience.
                | With the Nibblr app, users can invite others over for a meal in their homes,
                | or browse a selection of other meals available, enabling consumers to engage in transactions like they could never before. 
            .footer
              a(href="https://www.nibblr-app.com").link-button Visit Nibblr
          .block.startup(style="background-image: url('images/startups/saluqi_background.png')")
            .logo
              img(src="images/startups/saluqi.png", alt="Saluqi-logo")
            .body
              h3 Saluqi
              p
                | Saluqi Motors develops an affordable high performance electric drive system that will
                | revolutionize the electrification of personal vehicles and generators.
                | Bringing the cost down, while increasing drive performance and efficiency. 
            .footer
              a(href="https://www.saluqimotors.com").link-button Visit Saluqi
          .block.startup#future
            .body
              h3
                span.font-green Future 
                | mix
              p
                | To accomplish a solid and successful exit-strategy in their total portfolio-mix,
                | Sparkplug aims for a sustainable group of approximately fifteen promising young ventures in different market segments.
                | To do so, Sparkplug annually will add three to five new ventures to their portfolio in the next coming years.
      section.section#team
        h2 Team
        p
          | The Sparkplug team consists of complementary business experts, each skilled in essential specialisms.
          | Combined they provide the right framework to spark and guide promising young business ventures.
        .members
          .member
            .photo
              img(src="images/team/reinier.png", alt="Profile picture of Reinier van Doorne")
            .text
              h4.font-green Reinier van Doorne
              p
                | Strategic &amp; commercial business development
                br
                | Business case optimization, peer-to-peer coaching, financials and funding.
          .member
            .photo
              img(src="images/team/evert.png", alt="Profile picture of Evert Fila")
            .text
              h4.font-green Evert Fila
              p
                | Networker &amp; growth hacker
                br
                | Market validation (screening), networking, peer-to-peer coaching, e-commerce, creativity and publicity.
      section.section#news
        h2 News
        .items
          .item
            h4.font-green Social dining-platform Nibblr laat mensen samen eten
            p
              a(href="http://www.quotenet.nl/Nieuws/Social-dining-platform-Nibblr-laat-mensen-samen-eten-alleen-pizza-op-de-bank-hoeft-niet-meer-210119")
                | http://www.quotenet.nl/Nieuws/Social-dining-platform-Nibblr-laat-mensen-samen-eten...
          .item
            h4.font-green Skotty: Eindhovens platform om snel en veilig bestanden uit te wisselen
            p
              a(href="https://www.ed.nl/eindhoven/eindhovens-platform-om-snel-en-veilig-bestanden-uit-te-wisselen~a230bfa6/")
                | https://www.ed.nl/eindhoven/eindhovens-platform-om-snel-en-veilig-bestanden...
          .item
            h4.font-green Sparkplug Ventures start fonds voor start-ups
            p
              a(href="https://www.ed.nl/eindhoven/sparkplug-ventures-start-fonds-voor-start-ups~a9a5808b/")
                | https://www.ed.nl/eindhoven/sparkplug-ventures-start-fonds-voor-start-ups...
      section.section#contact
        h2 Contact
        h4.font-green Spark with us!
        p
          | We are not only welcoming investors to participate and co-spark with us promising businesses ventures by investing inspiration,
          | know how and funds. Also young and ambitious entrepreneurs can spark their business by contacting us!
        h4 Contact us
        p
          span.font-green Reinier van Doorne
          br
          a(href="mailto:reinier@sparkplugventures.nl") reinier@sparkplugventures.nl
          br
          | +31 (0)6 54 60 30 00‬
        p
          span.font-green Evert Fila
          br
          a(href="mailto:evert@sparkplugventures.nl") evert@sparkplugventures.nl
          br
          | +31 (0)6 54 31 57 71
      section.section#location
        h2 Location
        p
          | Sparkplug Ventures BV
          br
          | Klokgebouw 146 (Strijp-S) - Founded by All
          br
          | 5617 AB Eindhoven
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.515162476162!2d5.455501816173504!3d51.448697322813935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d96ae1ff9c53%3A0x17c85318caf1177a!2sKlokgebouw+146%2C+5617+AB+Eindhoven!5e0!3m2!1sen!2snl!4v1519936284885', width='400', height='300', frameborder='0', style='border:0', allowfullscreen='')
      section.section#fill
        img()
