@keyframes FadeInSlideLeft { 
  0% {
    opacity: 0;
    transform: translate(100px,0);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

// Animate all Main-sections individually
.main .section {
  animation: FadeInSlideLeft .4s ease;
  animation-fill-mode: both;
}
.main .section:nth-child(1) { animation-delay: .4s }
.main .section:nth-child(2) { animation-delay: .5s }
.main .section:nth-child(3) { animation-delay: .6s }
.main .section:nth-child(4) { animation-delay: .7s }
.main .section:nth-child(5) { animation-delay: .8s }
.main .section:nth-child(6) { animation-delay: .9s }
.main .section:nth-child(7) { animation-delay: 1s }
.main .section:nth-child(8) { animation-delay: 1.1s }
.main .section:nth-child(9) { animation-delay: 1.2s }
.main .section:nth-child(10) { animation-delay: 1.3s }