$header-height: 60px;

.header {
  display: flex;
  width: 100%;
  height: $header-height;
  padding: 10px 40px;

  .part {
    display: flex;
    width: 50%;
  }
  nav {
    justify-content: flex-end;
    
    ul {
      width: 600px;
      display: flex;
      justify-content: space-between;

      a {
        font-size: 16px;
        line-height: 40px;
      }
    }
  }
}