@import 'variables';
.main {
  display: inline-flex;
  position: relative;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;

  .section {
    margin-left: 200px;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 100%;
    overflow-y: auto;

    .block {
      flex-basis: 400px;
      flex-grow: 0;
      flex-shrink: 0;

      &.startup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 610px;
        max-height: 100%;
        background-size: cover;

        &#future {
          justify-content: center;
          background: $color-green-dark;
        }

        .logo {
          display: flex;
          height: 95px;
          align-items: center; 
          justify-content: center;
          img {
            width: 55px;
            height: 55px;
          }
        }
        .body {
          padding: 0 25px;
        }
        .footer {
          height: 90px;
          padding: 20px 25px;
        }
        .link-button {
          display: flex;
          width: 150px;
          height: 50px;
          align-items: center;
          justify-content: center;
          border-radius: 5px;

          color: $color-dark-75;
          background: $color-white;
        }
      }
    }

    .members {
      .member {
        display: flex;
        margin-bottom: 30px;

        .photo, .text {
          display: flex;
        }
        .photo {
          img {
            width: 85px;
            height: 85px;
          }
          flex-basis: 85px;
        }
        .text {
          flex-direction: column;
          justify-content: center;
          padding-left: 16px;
          flex: 1 1;

          p {
            margin: 0;
          }
        }
      }
    }

    .row {
      display: flex;

      .block {
        margin-right: 20px;
      }
    }

    &#introduction {
      flex-basis: 550px;
      flex-grow: 0;
      flex-shrink: 0;
    }
    &#expertise {
      flex-basis: 720px;
      img {
        width: 100%;
      }
    }
    &#screening {
      flex-basis: 820px;
    }
    &#ventures {
      flex-basis: 1660px;
    }
    &#team {
      flex-basis: 560px;
    }
    &#fill {
      flex-basis: 100px;
    }
    &#contact, &#news {
      a {
        border-bottom: 1px dotted $color-font;
      }
    }
  }
}