@media only screen and (max-width: 900px) {
  .header {
    nav.part {
      display: none;
    }
  }
  .main {
    .section {
      margin-left: 40px;
    }
  }
}
@media only screen and (max-width: 600px) {
  .main {
    .section {
      &#introduction,
      &#story,
      &#expertise,
      &#team,
      &#news,
      &#contact {
        margin-left: 0;
        flex-basis: 100% !important;
      }
      &#introduction,
      &#story,
      &#team,
      &#news,
      &#contact {
        padding: 0 50px;
      }
    }
  }
}