@import 'variables';
@import '../fonts/stylesheet.css';

// Font-families
$font-family-regular: 'metropolis-regular';
$font-family-semibold: 'metropolis-semibold';
$font-family-medium: 'metropolis-medium';

// Headings
h1 {
  font-family: $font-family-semibold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 10px;
}
h2 {
  font-family: $font-family-semibold;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 20px;
}
h3 {
  font-family: $font-family-medium;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
h4 {
  font-family: $font-family-semibold;
  font-size: 15px;
  line-height: 20px;
}

// Paragraphs
p, a {
  font-family: $font-family-medium;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  color: $color-font;
  &.font-large {
    font-size: 20px;
    line-height: 30px;
  }
}

// Anchors
a {
  text-decoration: none;
}

// Colors
.font-green {
  color: $color-green;
}