// Colors
$color-black: rgba(0,0,0,1);
$color-dark: rgba(25,25,25,1);
$color-dark-75: rgba(75,75,75,1);
$color-white: rgba(255, 255, 255, 1);
$color-green: rgba(61,218,160,1);
$color-green-dark: rgba(25,32,29,1);
$color-red: rgba(254,87,87,1);

// Startup Colors
$color-startup-skotty: rgba(22,189,136,1);
$color-startup-nibblr: rgba(234,66,78,1);
$color-startup-saluqi: rgba(75,75,75,1);

// Color usage
$color-background: $color-dark;
$color-font: $color-white;